.landing_container {
  position: relative;
  background-image: url("../../src/images/Landingpage.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit; /* Inherit the background image */
  filter: blur(13px); /* Apply the blur effect */
}

.landing_page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  border-radius: 8px;
}

.landing_page h1 {
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
}

.landing_page p {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}

.landing_page button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.landing_page button:hover {
  background-color: #0056b3;
}
